.dashboard {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card {
  margin: 10rem 1rem;
  margin-bottom: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.752);
  box-shadow: 6px 6px 8px 0px rgba(0, 0, 0, 0.25);
}

input {
  padding: 10px;
  border-radius: 8px;
}

button {
  margin-left: 0.5rem;
  background-color: #09d1e3;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;

}
